<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />
<title>精品附件 - 翼虎</title>
    <script src="/static/autoparts/js/jquery-1.9.1.min.js"></script>
    <script src="/static/autoparts/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="/static/autoparts/js/jquery.bxslider.js"></script>
    <link rel="stylesheet" href="/static/autoparts/css/nivo-slider.css">
    <link href="/static/autoparts/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/autoparts/css/main.css">
</head>

<body>
<div class="wrap">
	<div class="slider7">
		<div class="slide">
			<div class="slider-wrapper theme-default">
				<div class="nivoSlider" id="slides0" >
                    <img src="/static/autoparts/images/maverick/1.jpg"
                         data-thumb="/static/autoparts/images/maverick/1.jpg" data-transition="slideInLeft">
				</div>
			</div>
			<div class="fujian-box">
				<div class="fuTitle"><h2><span>产品名称</span></h2></div>
				<div class="fujDet">行车记录仪</div>
				<div class="fuTitle"><h2><span>产品定价</span></h2></div>
				<div class="fujDet">¥1,500</div>
				<div class="fuTitle"><h2><span>适用车型</span></h2></div>
				<div class="fujDet">全新福克斯  经典福克斯  翼虎  翼搏  新蒙迪欧  锐界  福睿斯  新嘉年华</div>
				<div class="fuTitle"><h2><span>产品信息</span></h2></div>
				<div class="fujDet">
					<!--<h3>打开车门的第一</h3>-->
					<ul>
						<li>匹配内后视镜专车专用支架安装，实现与原车一体化;</li>
						<li>双保险丝设计，安全无忧;</li>
						<li>可调式镜头, 按需调节适合角度;</li>
						<li>200万像素摄像头，镜头视场角≥150°，1080P高清录像;</li>
						<li>内置加速传感器，16G存储卡，确保录像完整</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slider-wrapper theme-default">
               <div class="nivoSlider" id="slides1" >
                   <img src="/static/autoparts/images/maverick/2.jpg"
                        data-thumb="/static/autoparts/images/maverick/2.jpg" data-transition="slideInLeft">
				</div>
            </div>
			<div class="fujian-box">
				<div class="fuTitle"><h2><span>产品名称</span></h2></div>
				<div class="fujDet">LED日间行车灯</div>
				<div class="fuTitle"><h2><span>产品定价</span></h2></div>
				<div class="fujDet">¥1,451</div>
				<div class="fuTitle"><h2><span>适用车型</span></h2></div>
				<div class="fujDet">翼虎</div>
				<div class="fuTitle"><h2><span>产品信息</span></h2></div>
				<div class="fujDet">
					<h3>专车专用LED日行灯</h3>
					<ul>
						<li>专车专用设计，与原车完美匹配;</li>
						<li>采用高亮度、低功率LED灯珠，使用寿命更长;</li>
						<li>灯光透射远，不炫目，增加行车安全;</li>
						<li>专用稳压驱动器，不干扰其他车用电子设备;</li>
						<li>双保险丝设计，直接替换原车装饰框，免破坏安装;</li>
						<li>通过欧盟ECE标准认证，使用安全放心</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slider-wrapper theme-default">
               <div class="nivoSlider" id="slides2" >
                   <img src="/static/autoparts/images/maverick/3.jpg"
                        data-thumb="/static/autoparts/images/maverick/3.jpg" data-transition="slideInLeft">
                   <img src="/static/autoparts/images/maverick/4.jpg"
                        data-thumb="/static/autoparts/images/maverick/4.jpg" data-transition="slideInLeft">
				</div>
            </div>
			<div class="fujian-box">
				<div class="fuTitle"><h2><span>产品名称</span></h2></div>
				<div class="fujDet">保险杠护板套件</div>
				<div class="fuTitle"><h2><span>产品定价</span></h2></div>
				<div class="fujDet">¥1,340</div>
				<div class="fuTitle"><h2><span>适用车型</span></h2></div>
				<div class="fujDet">翼虎</div>
				<div class="fuTitle"><h2><span>产品信息</span></h2></div>
				<div class="fujDet">
					<ul>
						<li>前/后下包围设计，与原车完美融合，增添运动元素，同时有效保护您的爱车;</li>
						<li>多种先进工艺保障放心品质;</li>
						<li>利用原车结构，安装便利，稳固贴合</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slider-wrapper theme-default">
				<div class="nivoSlider" id="slides3" >
                    <img src="/static/autoparts/images/maverick/5.jpg"
                         data-thumb="/static/autoparts/images/maverick/5.jpg" data-transition="slideInLeft">
                    <img src="/static/autoparts/images/maverick/6.jpg"
                         data-thumb="/static/autoparts/images/maverick/6.jpg" data-transition="slideInLeft">
				</div>
			</div>
			<div class="fujian-box">
				<div class="fuTitle"><h2><span>产品名称</span></h2></div>
				<div class="fujDet">LED迎宾踏板</div>
				<div class="fuTitle"><h2><span>产品定价</span></h2></div>
				<div class="fujDet">¥415</div>
				<div class="fuTitle"><h2><span>适用车型</span></h2></div>
				<div class="fujDet">翼虎</div>
				<div class="fuTitle"><h2><span>产品信息</span></h2></div>
				<div class="fujDet">
					<ul>
						<li>打开车门的第一道风景线，优雅的LED灯光散发无限的奢华浪漫，同时有效避免门槛漆面的意外刮伤，尽显高贵品质</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slider-wrapper theme-default">
				<div class="nivoSlider" id="slides4" >
                    <img src="/static/autoparts/images/maverick/7.jpg"
                         data-thumb="/static/autoparts/images/maverick/7.jpg" data-transition="slideInLeft">
                    <img src="/static/autoparts/images/maverick/8.jpg"
                         data-thumb="/static/autoparts/images/maverick/8.jpg" data-transition="slideInLeft">
				</div>
			</div>
			<div class="fujian-box">
				<div class="fuTitle"><h2><span>产品名称</span></h2></div>
				<div class="fujDet">迎宾踏板</div>
				<div class="fuTitle"><h2><span>产品定价</span></h2></div>
				<div class="fujDet">¥129</div>
				<div class="fuTitle"><h2><span>适用车型</span></h2></div>
				<div class="fujDet">翼虎</div>
				<div class="fuTitle"><h2><span>产品信息</span></h2></div>
				<div class="fujDet">
					<ul>
						<li>贴合车身曲线，有效避免门槛漆面的意外刮伤，更显时尚气质</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slider-wrapper theme-default">
				<div class="nivoSlider" id="slides5" >
                    <img src="/static/autoparts/images/maverick/9.jpg"
                         data-thumb="/static/autoparts/images/maverick/9.jpg" data-transition="slideInLeft">
				</div>
			</div>
			<div class="fujian-box">
				<div class="fuTitle"><h2><span>产品名称</span></h2></div>
				<div class="fujDet">晴雨窗</div>
				<div class="fuTitle"><h2><span>产品定价</span></h2></div>
				<div class="fujDet">¥366</div>
				<div class="fuTitle"><h2><span>适用车型</span></h2></div>
				<div class="fujDet">新嘉年华  经典福克斯  全新福克斯  翼搏  翼虎  新蒙迪欧  福睿斯</div>
				<div class="fuTitle"><h2><span>产品信息</span></h2></div>
				<div class="fujDet">
					<ul>
						<li>安全牢固，雨天出行时可阻挡雨水，保持车内空气流通清新</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slider-wrapper theme-default">
				<div class="nivoSlider" id="slides6" >
                    <img src="/static/autoparts/images/maverick/10.jpg"
                         data-thumb="/static/autoparts/images/maverick/10.jpg" data-transition="slideInLeft">
				</div>
			</div>
			<div class="fujian-box">
				<div class="fuTitle"><h2><span>产品名称</span></h2></div>
				<div class="fujDet">挡泥板</div>
				<div class="fuTitle"><h2><span>产品定价</span></h2></div>
				<div class="fujDet">¥115</div>
				<div class="fuTitle"><h2><span>适用车型</span></h2></div>
				<div class="fujDet">新嘉年华 经典福克斯 全新福克斯 翼搏 福睿斯  翼虎  新蒙迪欧  锐界</div>
				<div class="fuTitle"><h2><span>产品信息</span></h2></div>
				<div class="fujDet">
					<ul>
						<li>无缝贴合，造型紧凑，持久耐用。有效保持车底、纵梁和门的清洁</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slider-wrapper theme-default">
				<div class="nivoSlider" id="slides7" >
                    <img src="/static/autoparts/images/maverick/11.jpg"
                         data-thumb="/static/autoparts/images/maverick/11.jpg" data-transition="slideInLeft">
				</div>
			</div>
			<div class="fujian-box">
				<div class="fuTitle"><h2><span>产品名称</span></h2></div>
				<div class="fujDet">后保险杠踏板</div>
				<div class="fuTitle"><h2><span>产品定价</span></h2></div>
				<div class="fujDet">¥194</div>
				<div class="fuTitle"><h2><span>适用车型</span></h2></div>
				<div class="fujDet">翼虎</div>
				<div class="fuTitle"><h2><span>产品信息</span></h2></div>
				<div class="fujDet">
					<ul>
						<li>拉丝不锈钢效果顷刻展现出爱车的精致与优雅。轻松粘贴，防止后备厢装卸重物时对尾部造成磕碰伤</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slider-wrapper theme-default">
				<div class="nivoSlider" id="slides8" >
                    <img src="/static/autoparts/images/maverick/12.jpg"
                         data-thumb="/static/autoparts/images/maverick/12.jpg" data-transition="slideInLeft">
				</div>
			</div>
			<div class="fujian-box">
				<div class="fuTitle"><h2><span>产品名称</span></h2></div>
				<div class="fujDet">胎压监测（太阳能）</div>
				<div class="fuTitle"><h2><span>产品定价</span></h2></div>
				<div class="fujDet">¥1,638</div>
				<div class="fuTitle"><h2><span>适用车型</span></h2></div>
				<div class="fujDet">全车系适用</div>
				<div class="fuTitle"><h2><span>产品信息</span></h2></div>
				<div class="fujDet">
					<h3>关注轮胎健康，关注您的安全！</h3>
					<ul>
						<li>无线安装，太阳能供电，安全无忧;</li>
						<li>防爆胎：实时监测轮胎气压和温度，防患于未然;</li>
						<li>省燃油：保证合适的轮胎压力，降低汽车油耗;</li>
						<li>减磨损：避免气压不足带来的过度磨损，保障轮胎使用寿命</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slider-wrapper theme-default">
				<div class="nivoSlider" id="slides9" >
                    <img src="/static/autoparts/images/maverick/13.jpg"
                         data-thumb="/static/autoparts/images/maverick/13.jpg" data-transition="slideInLeft">
				</div>
			</div>
			<div class="fujian-box">
				<div class="fuTitle"><h2><span>产品名称</span></h2></div>
				<div class="fujDet">胎压监测（ACC）</div>
				<div class="fuTitle"><h2><span>产品定价</span></h2></div>
				<div class="fujDet">¥1,638</div>
				<div class="fuTitle"><h2><span>适用车型</span></h2></div>
				<div class="fujDet">全车系适用</div>
				<div class="fuTitle"><h2><span>产品信息</span></h2></div>
				<div class="fujDet">
					<h3>关注轮胎健康，关注您的安全！</h3>
					<ul>
						<li>双保险丝设计，安全无忧;</li>
						<li>防爆胎：实时监测轮胎气压和温度，防患于未然;</li>
						<li>省燃油：保证合适的轮胎压力，降低汽车油耗;</li>
						<li>减磨损：避免气压不足带来的过度磨损，保障轮胎使用寿命</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slider-wrapper theme-default">
				<div class="nivoSlider" id="slides10" >
                    <img src="/static/autoparts/images/maverick/14.jpg"
                         data-thumb="/static/autoparts/images/maverick/14.jpg" data-transition="slideInLeft">
				</div>
			</div>
			<div class="fujian-box">
				<div class="fuTitle"><h2><span>产品名称</span></h2></div>
				<div class="fujDet">DVD导航</div>
				<div class="fuTitle"><h2><span>产品定价</span></h2></div>
				<div class="fujDet">¥5,645</div>
				<div class="fuTitle"><h2><span>适用车型</span></h2></div>
				<div class="fujDet">翼虎</div>
				<div class="fuTitle"><h2><span>产品信息</span></h2></div>
				<div class="fujDet">
					<ul>
						<li>8寸高清数字显示屏，分辨率800×480；</li>
						<li>SIRF Prima 处理器，集成导航系统；</li>
						<li>DL-302 DVD 机芯，夏普车载激光头；</li>
						<li>屏幕防眩目处理，结构防眩目设计；</li>
						<li>专车专用地图，轻松一键导航；</li>
						<li>支持USB播放，兼容多种格式音视频；</li>
						<li>支持蓝牙，完美兼容原车SYNC系统；</li>
						<li>综合车辆使用状况，自动保养提醒</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
        $(document).ready(function(){
          $('.slider7').bxSlider({ 
            slideWidth: 640, 
			infiniteLoop: false,
			hideControlOnEnd: true,
            slideMargin: 10,
          });
		  
        });
		
		//滚动广告
		$(window).load(function() {
        var len1=$(".slider-wrapper").length;
		
		
		for(var a=0;a<len1;a++)
		{
			//$(".slider-wrapper").eq(a).append("<div class='nivoSlider' id='slides" + a + "'>" + "<img  src='images/furuisi_banner01.jpg' data-thumb='images/furuisi_banner01.jpg' data-transition='slideInLeft' \/><img  src='images/furuisi_banner02.jpg' data-thumb='images/furuisi_banner01.jpg' data-transition='slideInLeft' \/>" + "</div>");
			if($('#slides'+a + ' img').length >1)
				$('#slides'+a).nivoSlider();

		}
    });
    </script> 
</div>
</body>
</html>