<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />
<title>长安福特微客服</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/jquery-1.7.2.min.js"></script>
    <script src="/static/js/common.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $("#ret").click(function(){
    //$(".zzc,.quspopup").hide();
	WeixinJSBridge.call('closeWindow');//微信中关闭当前页面
  });
    $("#tongybtn").click(function () {
        var mobile = queryByName('mobile');
        var vincode = queryByName('vincode');
        document.location = "http://" + window.location.host + "/templates/chezhubangdin.html?mobile=" + mobile +
                "&vincode" + vincode;
    });
});
</script>
</head>

<body>
<div class="wrap">
	<div class="xxyl gdcxA">
		<p>
            <img src="/static/images/xxts.jpg" alt="">
		</p>
		<div><h2>提示信息</h2></div>
	</div>
	<div class="rzts">
		<p>您输入的VIN码已在福域网站认证，请至“福域认证车主信息绑定”，输入车辆VIN码和手机号，完成绑定，即可成为微客服认证车主。</p>
        <a href="javascript:;" class="tongybtn" id="tongybtn">福域认证车主信息绑定</a>
        <a href="javascript:;" class="tongybtn" id="ret"><img src="/static/images/jtbs.jpg" style="margin-right:10px;"
                                                              alt="">返回车主专享首页</a>
	</div>
</div>
</body>
</html>