<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />
<title>长安福特微客服</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/jquery-1.7.2.min.js"></script>
    <script src="/static/js/common.js"></script>
<script type="text/javascript">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;
i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();
a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;
m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-69201345-2', 'auto');
ga('send', 'pageview');

ga('set','campaignName','车主车辆信息完善');
ga('set', 'campaignSource', openid);
ga('set','campaignMedium','weixin');
$(document).ready(function(){
    var year = '';
    var month = '';
    var day = '';
    $.ajax({
        async: false, url: '/fordwechat/czclwsinit.do', type: 'POST', dataType: 'json',
        data: {openid: openid},
        timeout: 5000,
        success: function (data) {
            if (data != null && typeof(data.year) != "undefined") {
                year = data.year;
                month = data.month;
                day = data.day;
                $("#car_buying_dealer").val(data.carBuyingDealer);
                $("#car_repair_dealer").val(data.carRepairDealer);
                $("#car_model").val(data.carModel);
                $("#car_style").val(data.carStyle);
                $("#car_color").val(data.carColor);
            }
            initDatePlugin(year, month, day);
        },
        error: function (xhr) {
            initDatePlugin(year, month, day);
        }
	});
	$(".tongybtn").click(function(){
        content = $("#year").val() + $("#month").val() + $("#day").val() + "|" + $("#car_buying_dealer").val() + "|"
                + $("#car_repair_dealer").val() + "|" + $("#car_model").val() + "|" + $("#car_style").val() + "|"
                + $("#car_color").val();
		ga('set','campaignContent',content);
		ga('send', 'event', 'Link', 'Click','车辆信息提交',1);
        $.ajax({
            async: false, url: '/fordwechat/subcarinfo.do', type: 'POST', dataType: 'json',
            data: {
                openid: openid,
                year: $("#year").val(),
                month: $("#month").val(),
                day: $("#day").val(),
                carBuyingDealer: $("#car_buying_dealer").val(),
                carRepairDealer: $("#car_repair_dealer").val(),
                carModel: $("#car_model").val(),
                carStyle: $("#car_style").val(),
                carColor: $("#car_color").val()
            },
            timeout: 5000,
            success: function (data) {
                if (data == '1')
                    vinmsgHtml('提交成功！');
            },
            error: function (xhr) {
                vinmsgHtml('请求出错(请检查相关网络状况.)');
            }
        });
	});

});
function vinmsgHtml(html) {
    $("#vinmsg").empty();
    $("#vinmsg").append(html);
    $("#vinmsg").append('<br><a href="javascript:;" class="close" id="close1"><img src="/static/images/submit_btn02.gif" alt=""></a>');
    $("#close1").click(function () {
        $("#msg1").hide();
    });
    $("#msg1").show();
}
function initDatePlugin(year, month, day) {
    var $day1 = $("#day");
    var $month1 = $("#month");
    var $year1 = $("#year");
	<!--出始化年-->
	var dDate = new Date();
	var dCurYear = dDate.getFullYear();
	var str="";
	for(var i=dCurYear-80;i<=dCurYear;i++)
	{
        if (year != "")
		{
            if (i == parseInt(year))
			{
				str="<option value="+i+" selected=true>"+i+"</option>";
			}else{
				str="<option value="+i+">"+i+"</option>";
			}
		}else{
			if(i==dCurYear)
			{
				str="<option value="+i+" selected=true>"+i+"</option>";
			}else{
				str="<option value="+i+">"+i+"</option>";
			}
		}
		$year1.append(str);
	}
	<!--出始化月-->
	for(var i=1;i<=12;i++)
	{
        if (month != "")
		{
            if (i == parseInt(month))
			{
				str="<option value="+i+" selected=true>"+i+"</option>";
			}else{
				str="<option value="+i+">"+i+"</option>";
			}
		}else{
			if(i==(dDate.getMonth()+1))
			{
				str="<option value="+i+" selected=true>"+i+"</option>";
			}else{
				str="<option value="+i+">"+i+"</option>";
			}
		}
		$month1.append(str);
	}
	<!--调用函数出始化日-->
    TUpdateCal($("#year").val(), $("#month").val(), day);
}
function TGetDaysInMonth(iMonth, iYear) {
	var dPrevDate = new Date(iYear, iMonth, 0);
	return dPrevDate.getDate();
}

function TUpdateCal(iYear, iMonth, iDay) {
	var dDate=new Date();
	daysInMonth = TGetDaysInMonth(iMonth, iYear);
	$("#day").empty(); 
	for (d = 1; d <= parseInt(daysInMonth); d++) {
		if(iDay && iDay != ""){
			if(d==parseInt(iDay))
			{
			   str="<option value="+d+" selected=true>"+d+"</option>";
			}else{
				   str="<option value="+d+">"+d+"</option>";
			}
		}else{
			if(d==dDate.getDate())
			{
			   str="<option value="+d+" selected=true>"+d+"</option>";
			}else{
				   str="<option value="+d+">"+d+"</option>";
			}
		}
		$("#day").append(str);
	}
} 
</script>
</head>

<body>
<form action="" method="post" id="czclws" name="czclws">
<div class="wrap">
	<div class="chezhurz gdcxA">
		<div class="fl">
			<h2>车主个人</br>信息完善</h2>
		</div>
        <p class="fr"><img src="/static/images/xxws1.jpg" alt=""></p>
	</div>
	<div class="chezhurz-box gdcxA-box">
        <h3 class="xxwsh3"><img src="/static/images/xxws4.jpg" style="margin-right:10px;" alt="">车辆基本信息</h3>
		<table cellpadding="0" cellspacing="0" width="100%" class="tableclws">
			<tr>
				<td height="28" class="border0" colspan="2"></td>
			</tr>
			<tr>
				<td><span class="span_select">购车日期:</span>
				<select name="day" id="day" class="day">
				</select>
				<select name="month" id="month" class="month" onchange="TUpdateCal(czclws.year.value,czclws.month.value,'')">
				</select>
				<select name="year" id="year" class="year" onchange="TUpdateCal(czclws.year.value,czclws.month.value,'')">
				</select>
				</td>
			</tr>
			<tr>
				<td height="28" class="border0" colspan="2"></td>
			</tr>
			<tr>
                <td><span class="span_text">购车经销商:</span><input type="text" value="" name="car_buying_dealer"
                                                                id="car_buying_dealer" class="jxs"></td>
			</tr>
			<tr>
				<td height="28" class="border0" colspan="2"></td>
			</tr>
			<tr>
                <td><span class="span_text">维修经销商:</span><input type="text" value="" name="car_repair_dealer"
                                                                id="car_repair_dealer" class="jxs"></td>
			</tr>
			<tr>
				<td height="28" class="border0" colspan="2"></td>
			</tr>
			<tr>
                <td><span class="span_text">车型:</span><input type="text" value="" name="car_model" id="car_model"
                                                             class="cxck"></td>
			</tr>
			<tr>
				<td height="28" class="border0" colspan="2"></td>
			</tr>
			<tr>
                <td><span class="span_text">车款:</span><input type="text" value="" name="car_style" id="car_style"
                                                             class="cxck"></td>
			</tr>
			<tr>
				<td height="28" class="border0" colspan="2"></td>
			</tr>
			<tr>
                <td><span class="span_text">车辆颜色:</span><input type="text" value="" name="car_color" id="car_color"
                                                               class="others"></td>
			</tr>
			<tr>
				<td height="28" class="border0" colspan="2"></td>
			</tr>
			<tr>
				<td height="28" class="border0" colspan="2"></td>
			</tr>
		</table>
        <a href="javascript:;" class="tongybtn">确认提交</a>
	</div>
</div>
    <div class="quspopup" id="msg1">
        <p id="vinmsg">

        </p>
</div>
</form>
</body>

</html>