<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />

<title>长安福特微客服</title>
<link rel="stylesheet" href="static/css/main.css">

<script src="static/js/jquery-1.7.2.min.js"></script>

    

</head>

<body>
	<div class="wrap">
    	<div class="title">动动手指评选金牌服务大使轻轻松松赢取丰厚礼品！</div>
        <div class="time">2014-10-23<span>长安福特微客服</span></div>
        <div class="content">
        	<p>快讯快讯，近期长安福特将要举办一个金牌服务大使评选活动！你想象中的贴心服务、满意服务，长安福特即将为您开启。
从此“顾客就是上帝”不再是传说，只要是您所能想到的，我们都将全力以赴。所以，我们的口号是“贴心服务，满意升级”！</p>
			<p>为了此次活动有效进行，请各位为您心目中的金牌服务大使评个分！您的评分是活动中
不可或缺的力量！</p>
			<div class="banner">
                <img src="static/images/event-detail-banner.jpg" />
            </div>
			<p>活动期间，请诸位每次进站维修或保养后的一个星期左右，留意手机短信，按短信内容提示，回复对应字母，即可给服务顾问打分。
千万不要小瞧这一小小举动哦，说不定参与短信评分的你就得到了幸运女神的亲睐，赢得丰厚的奖品哟！</p>
            <p>
			<p>详情请参考以下具体参与方式，金牌服务大使正等着为您带来更好更贴心的满意服务！</p>
            	<b>活动时间：（共两期）</b><br />
                <b>第一期活动时间：</b><br /><b>2014.10.15-2015.2.15</b><br />
                <b>第二期活动时间：</b><br /><b>2015.2.16-2015.5.31</b>
            </p>
            <p>
            活动参与规则<br />
            1.参与用户：长安福特进站维修、保养用户。</p>
			<p>（注：此次活动在部分经销商内开展，请留意经销商店内海报等活动信息。
未收到票选短信的用户，可能所去的经销商店不在此次活动范围内，敬请注意与谅解！）</p>
			<p>2. 车主用户如何参与评选（评分）：进站后的一个星期左右，用户会收到评分短信，按短信提示，对应回复即可。</p>
			<p>友情提示：</p>
			<p>请您在回复短信前，稍稍回顾一下我们的服务顾问给您带来的服务体验：您是否感受到了服务顾问给您详细地解释保养/维修内容和收费情况？ 
服务顾问对您是否有求必应？ 服务顾问是否贴心礼貌？请综合考虑一下，为我们的服务顾问打分吧~</p>
			<p>3．每位车主每进站一次，就有一次评选机会</p>
			<p>4．正确完成短信回复的车主才能获得每月抽奖机会 （即回复对应字母，回复数字或者其他内容就视为无效）</p>
			<p>5．每月活动结束，都会随机抽取相应获奖用户</p>
			<p>活动奖品：每月随机抽取幸运奖、三等奖、二等奖、一等奖、特等奖用户，分别赠送价值100元、300元、600元、1000元和4000元奖品</p>
			<p>礼品如此丰厚！等你赶快来拿！</p>
			<p>本次活动中所发放的礼品由收到者本人自行申报缴纳个人所得税，与主办方无关
长安福特汽车感谢各位关注此次活动、参与此次活动！谢谢！
</p>
			<p>特别声明：本次活动最终解释权归福域所有。</p>
        </div>
    </div>
</body>
</html>