<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />

<title>长安福特微客服</title>
<link rel="stylesheet" href="static/css/main.css">

<script src="static/js/jquery-1.7.2.min.js"></script>

    

</head>

<body>
	<div class="wrap">
    	<div class="title">福域全家福活动幸福开启！邀您分享“幸福之家”甜蜜瞬间！</div>
        <div class="time">2015-1-15<span>长安福特微客服</span></div>
        <div class="content">
        	<p>2015年钟声敲响，长安福特在各位车主的陪伴中，又迎来了新的一年，衷心感谢各位车主的一路相随！值此新春之际，
为了答谢各位车主对长安福特及福域俱乐部的长期支持，“幸福之家ACTION”年度答谢活动为您幸福开启！邀请您与您的家人一同参与，
赢取福域新年大礼，为您送福到家！</p>
			<div class="banner">
                <img src="static/images/qjf/image001.jpg" />
            </div>
			<p>在过去的一年中，想必您的爱车为您和您家人带来了许多欢乐。</p>
            <p>自驾出游，福特带您领略各地风光；</p>
            <p>接送家人，福特为您安全出行……</p>
			<p>2015新春之际，长安福特邀请您为家人、朋友送去新年祝福，并晒出您与家人的全家福。将这甜蜜瞬间传递到千家万户，分享给每个人。</p>
			<p>活动期间，您可以通过上传全家福照片参与我们的活动，我们将在福域网站上进行网络票选，评选出投票数最高的TOP 10家庭，
			邀请这10组家庭参与我们“全程免费的重庆两天一夜游”！更有千元油卡、精美车模等超级好奖等你来！</p>
			<p>各位车主心动不如行动，长安福特诚挚邀请并期待您的倾情加入！</p>
			<p>活动时间：2015年1月12日 – 2015年1月26日（共2周）</p>
			<p>活动参与方式：该活动仅对福域认证车主开放，
			尚未认证的车友请先至福域网站http://www.changanfordclub.com 进行注册并认证即可参加活动。</p>
			<p>两种方式参与活动：</p>
			<p>1.上传1张您的全家福照片，同时留下您对家人、朋友的新年祝福即可参加抽奖。
			上传全家福照片并获得网络票选投票数最高的10组家庭将获得全程免费的重庆2天1夜游。</p>
			<p>2.对您心仪的全家福照片进行投票，也有机会参与抽奖</p>
			<p>活动链接：http://www.changanfordclub.com/
			campaign/sfdj/index.jspx</p>
			<p>抽奖规则：</p>
			<p>1、千元油卡、瑞士军刀、福特精美卡通拖鞋等礼品为随机抽取</p>
			<p>2、“全家福照片-网络投票”的前十家庭可以获得特等奖全程免费的重庆两天一夜游！</p>
			<p>注：重庆游活动时间为2015年2月7日–8日；每组家庭（2名成人+1小孩）提供全程免费机票和酒店。
			受邀参观长安福特工厂，游玩重庆山水，并与长安福特领导共享新年晚宴~~</p>
			<p>活动参与演示步骤：</p>
			<div class="banner">
                <img src="static/images/qjf/image002.jpg" />
            </div>
			<p></p>
			<div class="banner">
                <img src="static/images/qjf/image003.jpg" />
            </div>
			<p></p>
			<div class="banner">
                <img src="static/images/qjf/image004.jpg" />
            </div>
			<p></p>
			<div class="banner">
                <img src="static/images/qjf/image005.jpg" />
            </div>
			<p></p>
			<div class="banner">
                <img src="static/images/qjf/image006.jpg" />
            </div>
			<p></p>
			<div class="banner">
                <img src="static/images/qjf/image007.jpg" />
            </div>
			<p></p>
			<div class="banner">
                <img src="static/images/qjf/image008.jpg" />
            </div>
			<p></p>
			<p>在过去的三年里，福域感谢您及您的家人的一路支持。</p>
			<p>新的一年里，福域将会给您和家人带来更多幸福的时刻！</p>
        </div>
    </div>
</body>
</html>