<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />

<title>长安福特微客服</title>
<link rel="stylesheet" href="static/css/main.css">

<script src="static/js/jquery-1.7.2.min.js"></script>

    

</head>

<body>
	<div class="wrap">
    	<div class="title">“况是清明好天气”分享清明踏青之行，赢取福域精美好礼！</div>
        <div class="time">2015-3-27<span>长安福特微客服</span></div>
        <div class="content">
        	<p>莫辞盏酒十分醉，只恐风花一片飞。<b>况是清明好天气，不妨游衍莫忘归。</b>仲春四月，正是万物复苏、春花烂漫的时节，
			人们称之为“最美人间四月天”。四月时节，气清景明，落花逐水、郊野踏青是最令人向往的。小长假里，您或可约上两三好友，
			或可带上父母家人，赏菊、踏青、放风筝、插柳……四月，福域邀您一起分享清明踏青之行，看看同一片天空下不同的风景，
			更有福域精美好礼等你来拿哟！</p>
			<div class="banner">
                <img src="static/images/titleimg/16.jpg" />
            </div>
			<p><b>参与形式：</b></p>
            <p>1.	本帖内回复清明节外出踏青分享，图文形式皆可</p>
            <p>2.	参与本帖内超版不定时发送的关于清明话题的互动问答</p>
			<p><b>活动时间：</b>2015年4月1日—4月15日</p>
			<p><b>获奖公布时间：</b>2015年4月16日</p>
			<p><b>参赛对象：</b>所有福域网站认证车主</p>
			<p><b>奖品：</b></p>
			<p>1.	五名最佳分享车主，将每人获得福特精美卡通拖鞋1双。</p>
			<p>2.	五名最先回答超版提问，并回答正确的车主，将获得遮阳板抽纸盒1个。</p>
			<p>（注: 遮阳板抽纸盒每个ID限获一个）</p>
			<p><b>领奖须知：</b></p>
			<p>1、	活动奖品由快递公司寄送，请各位车主务必前往个人中心，
			查看手机号码和收货地址是否填写正确。
			凡因手机号码、收货地址错填、漏填等原因造成奖品没有收到，福域将不承担补发；</p>
			<p>2、	奖品寄送周期为一个月，一个月内没有收到奖品，且提供的联系方式正确的车主请及时和版主联系，
			经版主查实后会进行补发；没有及时联系版主的，视为自动放弃奖品，福域将不承担奖品补发。</p>
			<p><b>特别声明：本次活动最终解释权归福域所有。</b></p>
        </div>
    </div>
</body>
</html>