<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />

<title>长安福特微客服</title>
<link rel="stylesheet" href="static/css/main.css">

<script src="static/js/jquery-1.7.2.min.js"></script>

    

</head>

<body>
	<div class="wrap">
    	<div class="title">保养套餐：如何能让拥有爱车的愉悦心情一直延续下去呢？</div>
        <div class="time">2014-10-23<span>长安福特微客服</span></div>
        <div class="content">
        	<p>众所知周，为了确保车辆的行驶安全，保持车辆较佳的经济性以及较长的使用寿命，车辆应该进行定期保养。</p>
			<p>如果说发动机是您爱车的心脏，那么机油就是您爱车的血液，而机油滤清器就是您爱车的肾脏，所以最为常规的车辆保养就是更换机油 和机油滤清器。</p>
			<p>长安福特为了解决福特车主养车的后顾之忧精心推出了"保养套餐"。</p>
			<p>长安福特保养套餐，ScheduledService Plan（简称SSP），就是将更换机油和机油滤清器按不同服务次数打包成有一定 折扣的套餐形式的服务产品。</p>
        </div>
        <div class="banner">
            <img src="static/images/maintain-banner.jpg" />
        </div>
        <div class="content">
        	<h3>保养套餐为您省钱</h3>
			<ul>
            	<li>●购买保养套餐后，单次保养成本低于实际消费时的单次保养费用。</li>
				<li>●随着国际原油价格的飙涨，国内物价的攀升，机油的价格也可能会随之发生变动，预先购买可以避免因通货膨胀而造成保养费用的增加。</li>
            </ul>
            <br />
			<h3>保养套餐让您安心</h3>
            是由长安福特荣誉出品的，让您尽享：
			<ul>
            	<li>●原厂纯正优质零件的安心</li>
				<li>●随着国际原油价格的飙涨</li>
                <li>●长安福特品质保障的放心</li>
            </ul>
            <br />
            <h3>保养套餐为您提升二手车价值</h3>
			<ul>
            	<li>●可随车转让</li>
				<li>●能在增加您爱车价值的同时增加二手车的成交机率</li>
            </ul>
            <br />
            是为您和爱车量身定做的，保障更久，优惠更多！
让您轻松照顾爱车，尽享快乐人车生活！
本产品由长安福特荣誉出品，长安福特对本产品保留最终解释权。
        </div>
        
    </div>
</body>
{% include 'common.html' %}
</html>