<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />

<title>长安福特微客服</title>
    <link rel="stylesheet" href="/static/css/main.css">

    <script src="/static/js/jquery-1.7.2.min.js"></script>

    

</head>

<body>
	<div class="wrap">
    	<div class="title">长安福特微客服车主认证教程</div>
        <div class="time">2015-5-15<span>长安福特微客服</span></div>
        <div class="content">
        	<p>各位尊敬的长安福特车主们，我们的微客服现已全新上线，只为带给广大车主更便捷、更贴心的互动体验。
			现在您可以通过微信快速进行车主认证，如果已经在福域网站完成认证的车主，可以通过微信直接绑定车主账号，随时查询您的维保记录、
			电子账单等更多信息。</p>
			<p>相信各位车主已经跃跃欲试，准备拿起手机动动手指进行认证了。
			那么问题来了，如何通过微信完成车主认证呢？请各位车主不要着急，答案尽在本篇教程中，
			跟着我们简单三步，即可轻松完成认证。</p>
			<p><b>Step 1</b> 在微信通讯录公众号内，点击进入长安福特微客服。点击“优享服务”一栏中的“车主专享”。</p>
			<div class="banner">
                <img src="/static/images/manual/image001.png"/>
            </div>
			<p><b>Step 2</b> 点击主图“成为微客服认证车主，乐享更多信息”进入福域认证页面。</p>
			<div class="banner">
                <img src="/static/images/manual/image002.jpg"/>
            </div>
			<p><b>Step 3</b> 根据认证页面提示，填写完整您的姓名、您购车时填写的手机号码和车辆VIN码（VIN码既是您的行驶证号码），
			检查无误后点击“确认提交”即可完成认证。</p>
			<div class="banner">
                <img src="/static/images/manual/image003.jpg"/>
            </div>
			<p style="color:red;">温馨提示：由于VIN码由英文字母和数字组成且字符长，请在确认前检查VIN码没有错填或者漏填。</p>
			<p><b>如果您已经通过福域网站成为我们的认证车主了，那么您只需在长安福特微客服中完成车主信息绑定即可。</b></p>
			<p><b>Step 1</b>在微信通讯录公众号内，点击进入长安福特微客服。点击“优享服务”一栏中的“车主专享”。</p>
			<div class="banner">
                <img src="/static/images/manual/image001.png"/>
            </div>
			<p><b>Step 2</b>点击“福域认证车主信息绑定”进入页面。</p>
			<div class="banner">
                <img src="/static/images/manual/image004.jpg"/>
            </div>
			<p><b>Step 3</b>正确输入车辆VIN码和您在福域网站认证时输入的手机号，确认无误后点击“确认绑定”。</p>
			<div class="banner">
                <img src="/static/images/manual/image005.jpg"/>
            </div>
			<p style="color:red;">温馨提示：一个手机号可以绑定多个VIN码</p>
			<p><b>	如果在车主认证或者绑定的过程中所有信息都输入正确，且输入3次都无法完成认证或者绑定，
			可以通过以下两种方法联系我们解决。</b></p>
			<p>1.	拨打长安福特微客服24小时客服热线。</p>
			<div class="banner">
                <img src="/static/images/manual/image006.png"/>
                <img src="/static/images/manual/image007.jpg"/>
            </div>
			<p>2.	也可以至微客服【优享服务——互动问答】留言咨询。</p>
			<p>你可以在问题标题输入带有“认证”的字样，问题描述处留下可以联系到您的手机号、姓名、vin码等信息，
			我们客服人员将会在9共工作日内联系处理您的车主认证问题。</p>
			<div class="banner">
                <img src="/static/images/manual/2.png"/>
            </div>
			<p><b>	如果您是新车主，在认证过程中跳出以下页面，说明您购车的数据还没有传输到我们的系统中。</b></p>
			<p>可以在页面中按提示留下您的姓名、购车时的手机号码及VIN码。我们的客服人员将在9个工作日内为您匹配车主数据，
			如果匹配成功将给到您通知短信。匹配不成功的用户客服人员也会电话联系协助您完成车主认证。</p>
			<div class="banner">
                <img src="/static/images/manual/image013.png"/>
            </div>
			<p><b>	如果您是二手车用户，可以直接联系长安福特24小时客服热线</b></p>
			<p>将您的姓名、手机号、VIN码和行驶证图片反馈给客服人员，
			我们将在9个工作日内匹配您的信息，并短信告知认证结果。</p>
			<p><b>	如果您希望通过微客服完善您的个人信息及车辆信息，
			可以通过【车主专享】——【车主信息完善】更新您的信息。</b></p>
			<div class="banner">
                <img src="/static/images/manual/image014.jpg"/>
            </div>
			<div class="banner">
                <img src="/static/images/manual/3.png"/>
            </div>
			<p ></p>
        </div>
    </div>
</body>

</html>