<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />

<title>长安福特微客服</title>
<link rel="stylesheet" href="static/css/main.css">

<script src="static/js/jquery-1.7.2.min.js"></script>

    

</head>

<body>
	<div class="wrap">
    	<div class="title">爱车养护：定期保养的重要性！</div>
        <div class="time">2014-10-23<span>长安福特微客服</span></div>
        <div class="banner">
            <img src="static/images/news-detail-banner.jpg" />
        </div>
        <div class="content">
        	<p>一辆汽车是由上万个不同零件组成，这些零件是 用不同材料制造的，包括金属类、玻璃、橡胶以及不同种类的石化材料；车辆在各种工况中行驶较长时间之后，组成汽车的各个零件根据汽车行驶里程、使用时间以及汽车使用环境会出现磨损或老化，如果不进行维护保养而继续使用，就可能超过零件的使用寿命造成车辆性能逐渐下降，久而久之，问题就不再只局限于特定零件而是扩延到其它部件，而且可能造成安全事故。因此，定期维护保养是非常重要的，事关车辆的使用寿命以及行车安全。</p>
			<p>俗话说"汽车七分养三分修"，平时定期的给车做保养可以延长汽车的使用寿命。如果真等到坏了开不动了，才想到要去修，那时候可能花的钱比平时经常保养加起来的钱要高好几倍，而且大修后的车子性能还可能难以达到以前的效果。</p>
			<p>定期保养的重要之处在于能及时维修、更换汽车正常损耗、磨损的部位及部件，还可通过对车辆的全面检测，及时发现和解决存在的隐患及故障，确保车辆各部件和整车性能均处于正常状态。</p>
        </div>
    </div>
</body>
{% include 'common.html' %}
</html>