<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />

<title>长安福特微客服</title>
<link rel="stylesheet" href="static/css/main.css">

<script src="static/js/jquery-1.7.2.min.js"></script>

    

</head>

<body>
	<div class="wrap">
    	<div class="title">爱车养护：省油7大攻略</div>
        <div class="time">2015-01-23<span>长安福特微客服</span></div>
        <div class="content">
        	<p>油价居高不下，对长期驾车出行的车主们来说，是一笔不小的生活开销。只要“精打细算”，同样的油能跑得更远。学会这7大省油攻略，你也可以做到。</p>
			<p>1、选用黏度低的润滑机油</p>
			<p>新车适宜用黏度较低的润滑机油。润滑油黏度高，会增加发动机负荷，表现为油耗增加。润滑机油黏度越低，引擎就越“省力”，尤其是冷车状态引擎遇到的阻滞力更小，也就越省油。</p>
			<p>2、控制好车速</p>
			<p>最省油的方法是匀速行驶。在风速低时，最省油的时速是70～90公里之间。车速不要放得太低或太高。车速低时，活塞的运动速度低，燃烧不完全。车速高时，进气的速度增加导致进气阻力增加，使耗油增加。同时，不要猛踩油门来加速，不要急刹车，这些都只会大大增加耗油量。</p>
			<p>3、调整轮胎的状态</p>
			<p>轮胎气压值大小、轮胎大小、轮胎是否校准都会影响耗油量。每辆汽车的标准胎压略有不同，通常写在司机侧门的侧边或油箱盖上，一般在2.4-2.7之间。经测试，符合规定要求的胎压，可以降低油耗3.3%。另外，选择更宽的轮胎或许让车看来更有“跑车味”，但轮胎越宽，车轮阻力越大，一定会消耗更多汽油。不得不提的是，失准的方向盘会耗油，定期做好检查不失为好方法。</p>
			<p>4、把握引擎的启动</p>
			<p>车启动后其实不需要原地热车，只要在车子刚启动时不马上加速，慢行几分钟让引擎热起来，再均匀加速就可以了。如果需要在车上等待一段时间，可以把引擎熄掉。只要超过1分钟，重新启动也比怠速要省油。</p>
			<p>5、了解汽车所需汽油辛烷值</p>
			<p>别相信汽油辛烷值越高越好的说法。先查一查汽车所需要的汽油辛烷值，如果汽车只需要93号汽油，你硬给它97号汽油，它是不会提高效率或动力的。考虑到汽油品质的问题，高标号的汽油油耗一般要比低标号的低。</p>
			<p>6、让爱车轻装上阵</p>
			<p>轻装上阵，清理车后行李厢，把车内不必要的物品放家里。开车时，发动机就类似于推车或拉车的人，车上的东西越多，发动机就需要发出更大的牵引力来驱动汽车，相应的就会使油耗增加。实践证明，10kg物品随车行驶500km，耗油200ml。</p>
			<p>7、减少耗电设备的使用</p>
			<p>汽车上的电能来源于发动机，耗电也就是耗油。后风窗加热器、辅助前大灯、鼓风机及空调系统的耗电量均相当大，它们会增加发电机负荷，提高燃油消耗。比如后风窗加热器使用10小时，整车油耗将增加1L。</p>
		</div>
    </div>
</body>
{% include 'common.html' %}
</html>