<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />

<title>长安福特微客服</title>
<link rel="stylesheet" href="static/css/main.css">

<script src="static/js/jquery-1.7.2.min.js"></script>

    

</head>

<body>
	<div class="wrap">
    	<div class="title">行车宝典：车内有效除霜/除雾</div>
        <div class="time">2014-11-23<span>长安福特微客服</span></div>
        <div class="content">
        	<p>车辆行驶中，如果所有窗户紧闭或长时间使用车内循环而未开启空调除霜除雾功能，那么在遇到一些特定天气时，车上的所有玻璃内面会因为车内外的温差而出现一层雾气，阻碍驾驶视线，严重影响行车安全。因此有必要掌握有效的除雾方法。</p>
			<p><b>1.自动恒温空调的除霜除雾</b></p>
			<p>1). 按下空调面板的橙色MAX除雾按钮；</p>
			<p>2). 此时环境温度高于4℃时空调会自动开启，自动设定为空气外循环，这时不能选择车内空气循环，风速及温度均为自动控制，不能手动调整，风速会设定在高速及温度在HI位置。当选择挡风玻璃除霜除雾时，后窗加热功能会自动开启（如果车辆配备了前挡加热功能，前挡加热也会同时开启），在一段时间后关闭。若按下AUTO按键，空调即返回自动模式。当除雾完成后，可根据需要调整温度、鼓风机转速、气流分配模式并手动开启或关闭空调。</p>
			<p><b>2.手动空调的除霜除雾</b></p>
			<p>1). 旋转吹风模式旋钮到挡风玻璃除雾风向位置；</p>
			<p>2). 选择车外循环（内循环灯熄灭）；</p>
			<p>3). 风速设定在4速(风速愈高除雾的速度愈快)；</p>
			<p>4). 温度旋转钮转到红色区域最低位置；</p>
			<p>5). 环境温度高于4℃时空调会自动开启；</p>
			<p>6). 当除霜除雾完成后，可根据需要调整温度、鼓风机转速、气流分配模式并手动开启或关闭空调。</p>
			<p>另外，适当的开启窗户也能加快除雾除霜的速度。如有必要按下后挡玻璃加热式按钮，会快速消除后挡玻璃的霜雾；为了加快侧窗除雾，可关闭中央出风口，使两侧出风口气流导向侧窗玻璃；如果车辆有配备加热式后视镜将会同时启动后视镜除霜除雾功能。</p>
			<p></p>
        </div>
    </div>
</body>
{% include 'common.html' %}
</html>