<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />

<title>长安福特微客服</title>
<link rel="stylesheet" href="static/css/main.css">

<script src="static/js/jquery-1.7.2.min.js"></script>

    

</head>

<body>
	<div class="wrap">
    	<div class="title">行车宝典：开车自驾前给您提个醒</div>
        <div class="time">2014-11-23<span>长安福特微客服</span></div>
        <div class="content">
        	<p><b>一.隧道中</b></p>
			<p>请记住一定要开启大灯开车，不管隧道中的照明有多亮。这不只是让您能看清路面，同时也让后方来车能准确地辨别您的位置。如果隧道路线并不是您所熟悉的，那么切记放慢速度，仔细看清地上的标线和反光标志，跟着前车的尾灯走，以免走到对向车道，发生危险。</p>
			<p><b>二.雨天</b></p>
			<p>在雨天视线会变得比较差，切莫靠前车太近。雨天行车应该与前车保持更长的间距，行车速度也要减低，因为轮胎在湿地的抓地力会变得比较差，因为刹车力会随之减弱且较容易锁死。胎压略为提高可以强化排水性。雨刷不要吝异使用高级品，因为高级品的寿命长而且也能更有效刮除雨滴。</p>
			<p><b>三.山路</b></p>
			<p>1.弯道：一般在山路中行驶，入弯之前要完成降挡和刹车减速（自排车也可以降低一档)两项动作，如此便可提高引擎转速使驾驶者较易控制车身。在入弯前先微转方向盘，最理想的状况是在弯道中能保持相同的方向盘角度，避免大幅度转动方向盘，否则极易失控。此外，在“回”方向盘时，千万不可放双手让方向盘自动回正，以免发生危险。</p>
			<p>2.上下坡：提前换入合适的低速挡，确保有足够的动力爬坡，如不慎熄火，请立即停车，拉紧手制动，重新起步。下坡时，不宜空挡滑行或长时间使用制动。需要制动时，也千万不要踩离合器，以免车辆失控，应根据坡度大小，挂入合适的低速挡。</p>
			<p>3.调头：必须选择较宽的地带，并由他人下车指挥，倒车时，一定要将车头正对路外，车尾背对山体。无论在上坡还是下坡路段停车，停车前的一瞬间应往山体方向打两把方向，使车轮与前进的方向呈一定的角度，这样可增加轮胎与路面的阻力，万一车辆刹车失灵继续滑行的话也不致车辆往山的外侧溜滑。</p>
			<p><b>四.高速公路</b></p>
			<p>于高速公路行车，必须与前车保持适当间距，以时速除以2，即可得安全的间距，例如目前的时速是100Km/h，安全间距是50米。如果前方突然发生事故，除了紧急刹车外，亦需随路况向两旁回避。下高速公路出交流道时必须减速，否则很可能失控。不要紧跟在大货车或大客车后方，因为它们后轮弹起的碎石可能打破您的挡风玻璃。另外要注意“让速不让道”，当您遇到前车急刹车、急变道时,除非有把握,宁可“追尾”前车,也不能胡乱急打方向盘改变车道来避险。因为车辆在快速行驶中急变道容易使车身失去平衡，造成翻车。</p>
			<p><b>五.积水路</b></p>
			<p>千万不可贸然通过积水路面，应该先测水深，旁车安全通过未必您也可以通过。一般而言，积水达轮胎一半高时切莫通行。化油器引擎在积水不深时，可以慢速通积水路段。如果引擎配置喷射供油系统，则千万不可进水，以免进气机构于行进中将水吸进入汽缸中，而导致引擎故障。</p>
			<p></p>
			<p></p>
        </div>
    </div>
</body>
{% include 'common.html' %}
</html>