<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />

<title>长安福特微客服</title>
<link rel="stylesheet" href="static/css/main.css">

<script src="static/js/jquery-1.7.2.min.js"></script>

    

</head>

<body>
	<div class="wrap">
    	<div class="title">爱车养护：车辆漆面保养</div>
        <div class="time">2014-11-23<span>长安福特微客服</span></div>
        <div class="content">
        	<p>建议定期对车辆漆面进行保养,下列的建议将有助于您保持车辆漆面的最佳状态。</p>
			<div class="banner">
                <img src="static/images/image001.jpg" />
            </div>
			<p>◇清洗车辆</p>
			<p>1.定期清洗车辆,特别是在沿海地区、空气中或路上 存在盐分或化学物质的地区；</p>
			<p>2.请使用温水或冷水进行清洗；</p>
			<p>3.单独使用清水可能难以清除树液、昆虫、鸟粪、路上的污垢或沥青，请配合使用稀肥皂溶液或合适的洗涤剂，并用清水冲洗干净。</p>
			<p>◇自动洗车</p>
			<p>1.建议使用无刷式自动洗车设备。在高压自动洗车 设备运行过程中，水可能会被冲进车辆内部；</p>
			<p>2.在进入自动洗车设备之前，请将外置后视镜向后折叠。</p>
			<p>◇手工洗车</p>
			<p>1.在使用车用洗涤剂洗车后，请用足够的清水冲洗车辆，并采用擦拭用软皮或者其它软擦拭材料拭干车辆；</p>
			<p>2.在腐蚀性物质（如盐）丰富的地区，建议您定期（特别是在雨季之后）对车辆底盘进行彻底清洗和检查；</p>
			<p>3.在使用任何洗涤剂或抛光剂之前，请阅读产品标签上的使用说明及所有的警告信息；</p>
			<p>4.飞溅至车身漆面上的汽油滴或掉落至车身表面的鸟粪应尽快清洗或清除。如不及时清除此类粘附物,将 会造成对车辆漆面的损害。</p>
			<p>◇打蜡抛光</p>
			<p>1.车辆在打蜡抛光之前，应进行清洗并干燥；</p>
			<p>2.在工业粉尘、灰尘、大雨、盐性空气、昆虫、鸟粪集中的 地区或经常停车于树下的情况，建议增加合适的打蜡 和抛光频次。</p>
			<p>◇碰划伤问题</p>
			<p>建议您注意避免钥匙、手表、戒指、腰带扣、树枝或石子等物品直接擦划车体的漆面,以免损伤漆面。</p>
			<p>◇其它</p>
			<p>1.如果您的爱车需要长时间停放在户外，建议您使用汽车防尘罩对车身进行遮蔽和保护；</p>
			<p>2.车辆长期停放在户外时，车身可能会有积尘，建议清洗时先使用水冲洗后再使用干净的抹布轻轻擦拭，以免因清洗车身时漆面上或者清洗材料上附着的沙尘与漆面摩擦，造成漆面细微的擦拭痕或划痕。</p>
        </div>
    </div>
</body>
{% include 'common.html' %}
</html>