<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />
    <title>长安福特微客服</title>
    <link rel="stylesheet" href="/static/css/main.css">

</head>

<body>
<form action="" method="post" id="pageForm">
    <div class="wrap">
        <div class="chezhurz gdcxA">
            <div class="fl">
                <h2>请重试一下</h2>
            </div>
            <p class="fr"><img src="/static/images/chezhu_logo.gif" alt=""></p>
        </div>
        <div class="chezhurz-box">
            <p>亲,未找到您要访问页面,请重试一下.</p>
            <table cellpadding="0" cellspacing="0" width="100%" class="tablety">

            </table>
            <!--<a href="javascript:;" class="tongybtn">重试一下</a>-->
            <!--<p style=" padding-top: 15px;">* 一个手机号可绑定多个VIN码</p>-->
        </div>
    </div>
    <div class="quspopup" id="msg1">
        <p id="vinmsg"></p>
    </div>
</form>
</body>
</html>