<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />

<title>长安福特微客服</title>
<link rel="stylesheet" href="static/css/main.css">
<script src="static/js/jquery-1.7.2.min.js"></script>
</head>
<body>
	<input type="hidden" name="pageno" id="pageno" value="1" />
	<div class="wrap">
        <div class="qa-box">
        	<h2 class="mtb10">提示信息</h2>
            <ul>
            	<li>网络错误，请稍后重试！</li>
            </ul>   
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>