<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />
<title>长安福特微客服</title>
<link rel="stylesheet" href="static/css/main.css">
<script src="static/js/jquery-1.7.2.min.js"></script>
</head>

<body>
<form action="" method="post"
<div class="wrap">
	<div class="xxyl gdcxA">
		<p>
			<img src="static/images/xxts.jpg" alt="">
		</p>
		<div><h2>提示信息</h2></div>
	</div>
	<div class="chezhurz-box gdcxA-box">
		<!--<img src="images/jtbs.jpg" style="margin-right:10px;" alt="">-->
		<a href="weixin://contacts/profile/gh_505f95c0a4d0" class="tongybtn">一键分享</a>
	</div>
</div>

</html>