<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />

<title>长安福特微客服</title>
<link rel="stylesheet" href="static/css/main.css">
<script src="static/js/jquery-1.7.2.min.js"></script>
</head>
<body>
	<div class="wrap">
        <div class="tishi-box">
        	<h2 class="mtb10">提示信息</h2>
            <p>请先进行车主认证或车主绑定，以使随时随地查询工单及账单信息，谢谢！</p>
			<dl>
				<dt>车主认证</dt>
				<dd><a href="#" class="tongybtn">点击进入</a></dd>
			</dl>
			<dl>
				<dt>车主绑定</dt>
				<dd><a href="#" class="tongybtn">点击进入</a></dd>
			</dl>
        </div>
    </div>
</body>
</html>