<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>二维码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <link rel="stylesheet" type="text/css" href="/fordwechat/static/testh5/guagua/css/wxtdc.css">
</head>
<body>
<div class="col1">
    <div class="col1-doc">
        <img src="/fordwechat/static/testh5/guagua/img/doc.png" class="doc">
    </div>
    <div class="v-line">
        <img src="/fordwechat/static/testh5/guagua/img/v_line.png">
    </div>
    <div class="col1-txt">提示信息</span></div>
</div>

<div class="scan-mod">
    <p class="txt-black">您还不是长安福特微客服粉丝，</p>
    <p class="txt-big">长按下方二维码3-5秒</p>
    <p class="txt-black">立刻关注长安福特微客服！</p>
    <img src="/fordwechat/static/testh5/guagua/img/tdc.png">
</div>
</body>
{% include '../../common.html' %}
</html>