<div ng-repeat="section in dbForm.sections">
    <div class="portlet-title" ng-if="section.sectionTitle.show">
        <div class="caption font-green-sharp">
            <i class="icon-{{section.sectionTitle.icon}} iconfont font-green-sharp tabIcon"></i>
            <span class="caption-subject bold uppercase">{{section.sectionTitle.label}}</span>
        </div>
    </div>
    <div class="row dbRow">
        <div class="col-md-{{field.cols}}" ng-repeat="field in section.fields">
            <!-- not range date -->
            <div class="form-group" ng-class="{ 'has-error' : dataForm[field.name].$invalid && dbForm.submited }" ng-if="field.type!='dateRange' && field.type!='textarea'&& field.type!='tinyEditor'&& field.type!='wangEditor'">
                <label class="col-md-{{field.labelCols}} control-label" style="padding-right: 0;"><span class="required" ng-if="field.required"> * </span>{{field.label}}</label>

                <!-- orgTree -->
                <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} dbFormItem" ng-if="field.type==='orgTree'">
                    <db-org-tree></db-org-tree>
                </div>
                <!-- resourceTree -->
                <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} dbFormItem" ng-if="field.type==='resourceTree'">
                    <db-resource-tree></db-resource-tree>
                </div>
                <!-- areaTree -->
                <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} dbFormItem" ng-if="field.type==='areaTree'">
                    <db-area-tree></db-area-tree>
                </div>
                <!-- monthSelect -->
                <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} dbFormItem" ng-if="field.type=='monthSelect'">
                    <db-month-select></db-month-select>
                </div>

                <!-- input hidden -->
                <input type="hidden" name="{{field.name}}" ng-model='dbForm.formData[field.name]' ng-if="field.type=='hidden'">


                <!-- input button -->
                <button class="btn btn-primary dbFormBtn" type="button" ng-click="field.click(field.name,field)" ng-if="field.type=='button'" title="{{field.title}}"
                        ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)"
                >{{field.btnLabel}}
                </button>

                <!-- input -->
                <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} dbFormItem" ng-if="field.type=='text'">
                    <input ng-if="!field.clickEvent" ng-model='dbForm.formData[field.name]' name="{{field.name}}" type="text" placeholder="{{field.placeholder}}" ng-required="field.required"
                           ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)" class="form-control" db-validator="{{field.validator}}"
                           ng-class="{'form-control-readonly':field.readonly}"
                           ng-readonly="field.readonly">
                    <input ng-if="field.clickEvent" ng-click="field.click(field.name,field)" ng-model='dbForm.formData[field.name]' name="{{field.name}}" ng-class="{'form-control-readonly':field.readonly}"
                           ng-readonly="field.readonly" type="{{field.type}}" placeholder="{{field.placeholder}}" ng-required="field.required"
                           ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)" class="form-control">

                    <span ng-if="!field.validator" class="help-block" ng-show="dataForm[field.name].$invalid && dbForm.submited">{{field.label}}字段为必录项!</span>
                    <span ng-if="field.validator" class="help-block" ng-show="dataForm[field.name].$invalid && dbForm.submited">{{field.label}}格式不正确!</span>
                </div>
                <!-- input -->
                <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} dbFormItem" ng-if="field.type=='number'">
                    <input ng-if="!field.clickEvent" ng-model='dbForm.formData[field.name]' name="{{field.name}}" type="number" placeholder="{{field.placeholder}}" ng-required="field.required"
                           ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)" class="form-control"
                           ng-class="{'form-control-readonly':field.readonly}"
                           ng-readonly="field.readonly">
                    <input ng-if="field.clickEvent" ng-click="field.click(field.name,field)" ng-model='dbForm.formData[field.name]' name="{{field.name}}" ng-class="{'form-control-readonly':field.readonly}"
                           ng-readonly="field.readonly" type="{{field.type}}" placeholder="{{field.placeholder}}" ng-required="field.required"
                           ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)" class="form-control">

                    <span class="help-block" ng-show="dataForm[field.name].$invalid && dbForm.submited">{{field.label}}字段为必录项!</span>
                </div>
                <!-- checkbox -->
                <div class="form-group form-md-checkboxes dbFormItem" ng-if="field.type=='checkbox'" style="margin-left: 10px;float: left;">
                    <div class="md-checkbox-inline">
                        <div class="md-checkbox">
                            <input type="checkbox" checked="checked" ng-if="field.checked" ng-disabled="dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor"/>
                            <input type="checkbox" ng-if="!field.checked" ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)"/>
                            <label ng-click="dbForm.checkClick(field,dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- select -->
                <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} dbFormItem" ng-if="field.type=='select'">

                    <div class="input-group" ng-if="!field.showDelete">
                        <ui-select ng-model="dbForm.formData[field.name]"
                                   name="{{field.name}}" ng-required="field.required" ng-readonly="field.readonly"
                                   ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)">
                            <ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices
                                    repeat="item in field.dropDownItemValue | selectPropsFilter:{name:$select.search}">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                          <button ng-click="dbForm.formData[field.name] =[{name: '', value: ''}]" ng-disabled="dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor"
                                  class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-trash"></span>
                          </button>
                        </span>
                        <span class="help-block" ng-show="dataForm[field.name].$invalid && dbForm.submited ">{{field.label}}字段为必录项!</span>

                    </div>
                    <div ng-if="field.showDelete">
                        <ui-select ng-model='dbForm.formData[field.name]' name="{{field.name}}" ng-required="field.required" ng-readonly="field.readonly"
                                   ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)">
                            <ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices
                                    repeat="item in field.dropDownItemValue | selectPropsFilter:{name:$select.search}">
                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="help-block" ng-show="dataForm[field.name].$invalid && dbForm.submited ">{{field.label}}字段为必录项!</span>
                    </div>
                </div>
                <!-- single date -->
                <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} dbFormItem" ng-if="field.type==='date'">
                    <input ng-model="dbForm.formData[field.name]" name="{{field.name}}" type="text" placeholder="{{field.placeholder}}" data-date-format="yyyy-mm-dd" ng-required="field.required" readonly
                           ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)" class="form-control date-picker form-control-readonly">
                    <span class="help-block" ng-show="dataForm[field.name].$invalid && dbForm.submited ">{{field.label}}字段为必录项!</span>
                </div>
                <!-- single dateTime -->
                <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}}" ng-if="field.type==='dateTime'">
                    <input ng-model="dbForm.formData[field.name]" name="{{field.name}}" type="text" placeholder="{{field.placeholder}}" ng-required="field.required" readonly
                           ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)" class="form-control date date-time-picker form-control-readonly">
                    <span class="help-block" ng-show="dataForm[field.name].$invalid && dbForm.submited ">{{field.label}}字段为必录项!</span>
                </div>

                <!--multiple-->
                <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} dbFormItem" ng-if="field.type === 'multiple'">
                    <ui-select
                            ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)"
                            multiple ng-model="dbForm.formData[field.name]" name="{{field.name}}" ng-required="field.required" theme="bootstrap">
                        <ui-select-match placeholder="{{field.placeholder}} 可多选" style="padding-top: 2px; padding-bottom: 2px">{{$item.name}}</ui-select-match>
                        <ui-select-choices
                                repeat="item in field.dropDownItemValue | selectPropsFilter:{name:$select.search}">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (dataForm.startDate.$invalid || dataForm.endDate.$invalid) && dbForm.submited }" ng-if="field.type=='dateRange'">
                <label class="col-md-{{field.labelCols}} control-label" style="padding-right: 0;"><span class="required" ng-if="field.required"> * </span>{{field.label}}</label>

                <!-- range date -->
                <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} dbFormItem">
                    <div class=" input-group input-larger date-picker input-daterange" style="width: 100%;" data-date="now" data-date-format="yyyy-mm-dd">
                        <input ng-model="dbForm.formData.startDate" name="startDate" type="text" placeholder="开始日期" ng-required="field.required"
                               ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)" readonly
                               class="form-control form-control-readonly">
                        <span class="input-group-addon">-</span>
                        <input ng-model="dbForm.formData.endDate" name="endDate" type="text" placeholder="结束日期" ng-required="field.required"
                               ng-disabled="dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor" readonly
                               class="form-control form-control-readonly">
                    </div>
                    <span class="help-block" ng-show="(dataForm.startDate.$invalid || dataForm.endDate.$invalid) && dbForm.submited ">{{field.label}}字段为必录项!</span>
                </div>

            </div>
            <!-- textarea -->
            <div class="form-group" ng-class="{ 'has-error' : dataForm[field.name].$invalid && dbForm.submited }" ng-if="field.type=='textarea'">
                <label class="control-label col-md-{{field.labelCols}}" style="padding-right: 0px"><span class="required" ng-if="field.required"> * </span>{{field.label}}</label>

                <div class="col-md-{{field.labelCols==''?'':12-field.labelCols}} dbFormItem">
                    <textarea ng-model="dbForm.formData[field.name]" placeholder="{{field.placeholder}}" ng-readonly="field.readonly" name="dbForm.formData[field.name]" class="form-control"
                              ng-class="{'form-control-readonly':field.readonly}" ng-required="field.required" id="dbForm.formData[field.id]" rows="{{field.rows}}"
                              style="resize: none"
                              ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)"></textarea>
                    <span class="help-block" ng-show="dataForm[field.name].$invalid && dbForm.submited ">{{field.label}}字段为必录项!</span>
                </div>
            </div>

            <!-- tinyEditor -->
            <div class="form-group" ng-class="{ 'has-error' : dataForm[field.name].$invalid && dbForm.submited }" ng-if="field.type=='tinyEditor'">
                <label class="control-label col-md-{{field.labelCols || 2}}" style="padding-right: 0px;"><span class="required" ng-if="field.required"> * </span>{{field.label}}</label>

                <div class="col-md-{{field.labelCols==''? 10 :12-field.labelCols}} dbFormItem">
                    <input id="{{field.id||'tinyEditor'}}" ng-model="dbForm.formData[field.name]" placeholder="{{field.placeholder}}" ng-readonly="field.readonly" name="dbForm.formData[field.name]" class="form-control"
                           ng-class="{'form-control-readonly':field.readonly}" ng-required="field.required"
                           style="resize: none;height: 180px;"
                           ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)">
                    <span class="help-block" ng-show="dataForm[field.name].$invalid && dbForm.submited ">{{field.label}}字段为必录项!</span>
                </div>
            </div>
            <!-- wangEditor -->
            <div class="form-group" ng-class="{ 'has-error' : dataForm[field.name].$invalid && dbForm.submited }" ng-if="field.type=='wangEditor'">
                <label class="control-label col-md-{{field.labelCols || 2}}" style="padding-right: 0px;"><span class="required" ng-if="field.required"> * </span>{{field.label}}</label>

                <div class="col-md-{{field.labelCols==''? 10 :12-field.labelCols}} dbFormItem">
                    <div id="{{field.id||'wangEditor'}}" style="resize: none;height: 180px;" ng-disabled="field.disabled?field.disabled:(dbForm.isEditView?(field.editable?dbForm.globalFieldEditor:true):dbForm.globalFieldEditor)">
                        <span class="help-block" ng-show="dataForm[field.name].$invalid && dbForm.submited ">{{field.label}}字段为必录项!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>