<div>
    <input ng-click="dbMonthSelect.selectMonth(field.name,dbFormGrid.queryParams[field.name])" ng-model='dbFormGrid.queryParams[field.name]'
           name="{{field.name}}" ng-class="{'form-control-readonly':field.readonly}" readonly
           type="text" placeholder="{{field.placeholder}}" ng-required="field.required" class="form-control" ng-if="dbFormGrid">
    <input ng-click="dbMonthSelect.selectMonth(field.name,dbForm.formData[field.name])" ng-model='dbForm.formData[field.name]'
           name="{{field.name}}" ng-class="{'form-control-readonly':field.readonly}" readonly
           type="text" placeholder="{{field.placeholder}}" ng-required="field.required" class="form-control" ng-if="dbForm">
    <span class="help-block"
           ng-show="dataForm[field.name].$invalid && (dbForm.submited||dbFormGrid.submited)">{{field.label}}字段为必录项!</span>

<script type="text/ng-template" id="dbMonthSelectModal_template.html">
    <form name="dataForm" novalidate class="form-horizontal form">
        <div class="modal-body form-horizontal form">
            <div class="form-body portlet dbLight">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="iconfont font-green-sharp" style="font-size: 16px; margin-top: 0px;"></i>
                        <span class="caption-subject bold uppercase">选择年月</span>
                    </div>
                    <div class="tools">
                        <i class="iconfont icon-guanbi" ng-click="modalClose()"></i>
                    </div>
                </div>
                <div class="row">
                    <ui-select ng-model='dbMonthSelect.year'  theme="bootstrap"  class="col-md-6">
                        <ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices
                                repeat="item in years | selectPropsFilter:{name:$select.search}">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <ui-select ng-model='dbMonthSelect.month'   theme="bootstrap"  class="col-md-6">
                        <ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices
                                repeat="item in months | selectPropsFilter:{name:$select.search}">
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="closeModal()"><i
                            class="iconfont icon-queding" style="color: white"></i>确定
                    </button>
                    <button class="btn btn-warning" type="button" ng-click="modalClose()"><i
                            class="iconfont icon-guanbi" style="color: white"></i>关闭
                    </button>
                </div>
            </div>
        </div>
    </form>
</script>
</div>
