<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="/fordwechat/static/yihu6/js/style02.css" rel="stylesheet">
<link rel="stylesheet" href="/fordwechat/static/yihu6/js/swiper.css">
<!--移动端版本兼容 -->
<script src="/fordwechat/static/yihu6/js/analytics.js" async=""></script><script type="text/javascript">
var phoneWidth = parseInt(window.screen.width);
var phoneScale = phoneWidth / 640;
var ua = navigator.userAgent;
if(window.screen.height == 480) {
document.write('<link href="/fordwechat/static/yihu5/css/style2.css" rel="stylesheet" />');
}
if(/Android (\d+\.\d+)/.test(ua)) {
var version = parseFloat(RegExp.$1);
if(version > 2.3) {
document.write('<meta name="viewport" content="width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
} else {
document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
}
} else {
document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
}
</script><meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">

<!--移动端版本兼容 end -->
<title>翼无止境 – 福特翼虎微刊第6期</title>
<script src="/fordwechat/static/yihu6/js/jquery.js"></script>
<script src="/fordwechat/static/yihu6/js/index.js"></script>
<script src="/fordwechat/static/yihu6/js/swiper.js"></script>
<script src="/fordwechat/static/yihu6/js/util.js"></script>
<script src="/fordwechat/static/yihu6/js/jweixin-1.js"></script>
<!--<script src="https://mpx.wetalk.im/javascript/jweixin/118da1889dd02ecee2d527ad309d5c3c"></script>-->
<script src="/fordwechat/static/yihu6/js/wechat.js"></script>
</head>
<body>
<div class="swiper-container swiper-container-vertical">
<div class="swiper-wrapper">
<div style="height: 913px;" class="swiper-slide swiper-slide-active">
<div class="section1">
</div>
</div>
<div style="height: 913px;" class="swiper-slide swiper-slide-next">
<div class="section2">
	<a href="javascript:;" class="category cate1"></a>
	<a href="javascript:;" class="category cate2"></a>
	<a href="javascript:;" class="category cate3"></a>
	<a href="javascript:;" class="category cate4"></a>
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section3">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section4">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section5">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section6">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section7">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section8">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section9">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section10">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section11">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section12">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section13">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section14">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section15">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section16">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section17">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section18">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section19">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section20">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section21">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section22">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section23">
</div>
</div>
<div style="height: 913px;" class="swiper-slide">
<div class="section24">
	<a href="http://m.kuga.ford.com.cn"  class="detail" onclick="doTrack('进入官网')"></a>
	<a href="javascript:;" class="back" onclick="doTrack('返回')"></a>
</div>
</div>
</div>
</div>

<script>
var swiper = new Swiper('.swiper-container', {
paginationClickable: true,
direction: 'vertical',
onSlideChangeEnd: function(swiper) {
	if (swiper.activeIndex == 2) {doPageview('Part1')};
	if (swiper.activeIndex == 9) {doPageview('Part2')};
	if (swiper.activeIndex == 15) {doPageview('Part3')};
	if (swiper.activeIndex == 19) {doPageview('Part4')};
}
});
$(".cate1").click(function (){
	swiper.slideTo(2, 500, false);
})
$(".cate2").click(function (){
	swiper.slideTo(9, 500, false);
})
$(".cate3").click(function (){
	swiper.slideTo(15, 500, false);
})
$(".cate4").click(function (){
	swiper.slideTo(19, 500, false);
})
doPageview('Homepage');
</script>
</body>
</html>