<div class="row">
    <div class="portlet box blue-sharp">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>添加\修改活动
            </div>
            <div class="tools">
            </div>
        </div>
        <div class="portlet-body form">
            <form name="dataForm" novalidate class="form-horizontal form-bordered" ng-submit="submit(dataForm.$valid)">
                <div class="form-group " ng-class="{ 'has-error' : dataForm.name.$invalid && submited }">
                    <label class="col-lg-3 control-label"><span class="required"> * </span>活动名称</label>
                    <div class="col-lg-9">
                        <div>
                            <input ng-model='data.name' name="title" class="form-control" ng-required="true">
                        </div>
                        <p class="help-block">
                            活动名称的真实名称
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : dataForm.imageUrl.$invalid && submited }">
                    <label class="col-lg-3 control-label"><span class="required"> * </span>活动图片</label>
                    <div class="col-lg-9">
                        <div class="input-group">
                            <div class="row">
                                <div class="col-md-6" style="text-align: center">
                                    <img ng-src="{{data.imageUrl}}" width="50" height="50">
                                </div>
                                <div class="col-md-6" style="text-align: center">

                                    <a class=dbFileAddPic href="javascript:void(0);" style="width: 82px;"><span><em>+</em>添加图片</span>
                                        <input
                                                class="dbFilePrew" title=支持jpg、jpeg、gif、png格式，文件小于5m tabindex=3
                                                type="file" size=3
                                                name="file" nv-file-select uploader="uploader"></a>
                                </div>
                            </div>
                        </div>
                        <p class="help-block">
                            上传新的图片，请保持文件名不重复，否则会<span style="color:red">替换</span>原文件
                        </p>

                    </div>
                </div>
                <div class="form-group " ng-class="{ 'has-error' : dataForm.href.$invalid && submited }">
                    <label class="col-lg-3 control-label"><span class="required"> * </span>活动链接地址</label>
                    <div class="col-lg-9">
                        <div>
                            <input ng-model='data.href' name="href" class="form-control">
                        </div>
                        <p class="help-block">
                            手机端活动卡片点击跳转活动地址真实地址
                        </p>
                    </div>
                </div>
                <div class="form-group " ng-class="{ 'has-error' : dataForm.sortNo.$invalid && submited }">
                    <label class="col-lg-3 control-label"><span class="required"> * </span>活动排序</label>
                    <div class="col-lg-9">
                        <div>
                            <input ng-model='data.sortNo' name="sortNo" class="form-control" type="number">
                        </div>
                        <p class="help-block">
                            自定义排序，根据自定义排序数字进行由小到大排序
                        </p>
                    </div>
                </div>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn purple"><i class="fa fa-check"></i> 保存</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <style>
        ul {
            padding: 0;
            margin: 0;
        }

        .index-content {
            background: #fff;
            font-size: 12px;
            color: #000;
            width: 100%;
        }

        .index-content ul {
            width: 100%;
            overflow: hidden;
            padding-bottom: 1.2rem;
            display: table;
        }

        .index-content ul li {
            width: 25%;
            display: table-cell;
            padding-top: 1.2rem;
            text-align: center;
            vertical-align: bottom;
        }

        .index-content ul li img {
            display: block;
            width: 32%;
            margin: auto;
            padding-bottom: 0.5rem;
        }

        .panel-top {
            border-top: 1px solid rgba(173, 173, 173, 0.56);

        }

        .panel-body {
            padding: 0;
        }

        .panel-heading {
            border-radius: 0;
            border-left: 4px solid #8e5fa2;
            margin-top: 8px;
        }

        .redTip {
            color: red;
        }
    </style>
</div>