<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta charset="UTF-8">
<title></title>
	<link href="/fordwechat/static/newyear/css/index.css" rel="stylesheet" />
    <script type="text/javascript">
        var phoneWidth = parseInt(window.screen.width);
        var phoneScale = phoneWidth / 640;
        var ua = navigator.userAgent;
        if(/Android (\d+\.\d+)/.test(ua)) {
            var version = parseFloat(RegExp.$1);
            if(version > 2.3) {
                document.write('<meta name="viewport" content="width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
            } else {
                document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
            }
        } else {
            document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
        }
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-72259274-1', 'auto');
		ga('send', 'pageview');
    </script>
    <!--移动端版本兼容 end -->
	<script src="/fordwechat/static/newyear/js/jquery.min.js"></script>
	<script src="/fordwechat/static/newyear/js/prize2.js"></script>
	<script src="/res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="/fordwechat/static/newyear/js/wechat.js"></script>
</head>
<body>
 
</body>

<div class='prize p2'>
	<img src='/fordwechat/static/newyear/images/prize.png'  class='prizeImg'/>
	<span class='prizenum'><em>{{score}}</em>元</span>
	<p class='wincopy1'>恭喜您抢到价值<em>{{score+100}}</em>元的</p>
	<p class='wincopy2'><span>代金券({{score}}元) + 免费全车健检</span>的红包</p>
	<p class='tips'>*所获得的全车免费检查，请于2016年1月1日至2016年1月31日<br>至长安福特4S店使用，无需任何凭证。</p>
	<a href='javascript:;'>get</a>
</div>
<div class='popup' style='display:none' >
		<a href='javascript:;' class='prizeclose'><img src='/fordwechat/static/newyear/images/close.png' /></a>
		<div class='setcoupon' style='display:none'>
		<form>
			<div class='selectVIN'>
				<span class='vin'>请选择VIN码</span>
					<select class='s_vin' id='vin' name='vin'>
						<option>请选择VIN码</option>
							{% for v in vins %}
								<option>{{ v['vin'] }}</option>
							{% end %}
					</select>
			</div>
			<ul>
				<li>
					<span class='province'>请选择省</span>
					<select class='s_province'>
						<option>请选择省</option>
							{% for p in provinces %}
								<option>{{ p['dealer_province'] }}</option>
							{% end %}
					</select>
				</li>
				<li>
					<span class='city'>请选择市</span>
					<select class='s_city' >
						<option>请选择市</option>
					</select>
				</li>
				<li>
					<span class='dealer'>请选择经销商</span>
					<select class='s_dealer' >
						<option>请选择经销商</option>
					</select>
				</li>
				<input type='hidden' id='gid' name='gid' value='{{gid}}' />
				<input type='hidden' id='did' name='did' value='' />
				<input type='text' class='mobile' name='mobile' id='mobile' maxlength='11' placeholder='请留下您正确的手机号码，以便接收活动短信。'/>
				<a href='javascript:;' class='button'></a>
			</ul>
		</form>
		
	</div>
	<div class='commitsuccess'  style='display:none'>
		<a href='javascript:;'>平安符</a>
		<a href='javascript:;'>分享</a>
	</div>
	<div class='share' style='display:none'></div>
</div>
</html>