
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/fordwechat/static/q3/css/style02.css" rel="stylesheet" />
    <link rel="stylesheet" href="/fordwechat/static/q3/css/swiper.min.css">
    <!--移动端版本兼容 -->
    <script type="text/javascript">
        var phoneWidth = parseInt(window.screen.width);
        var phoneScale = phoneWidth / 640;
        var ua = navigator.userAgent;
        if(window.screen.height == 480) {
           // document.write('<link href="css/style2.css" rel="stylesheet" />');
        }
        if(/Android (\d+\.\d+)/.test(ua)) {
            var version = parseFloat(RegExp.$1);
            if(version > 2.3) {
                document.write('<meta name="viewport" content="width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
            } else {
                document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
            }
        } else {
            document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
        }
    </script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', '', 'auto');
	  ga('send', 'pageview');

	</script>
    <!--移动端版本兼容 end -->
    <title>秋季服务赢好礼</title>
    <script src="/fordwechat/static/q3/js/jquery.min.js"></script>
     <script src="/fordwechat/static/q3/js/swiper.min.js"></script>
</head>

<body>

 <div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div class='section1'>
			
			 </div>
		</div>
		<div class="swiper-slide">
			<div class='section2'>
			
			</div>
		</div>
		
		<div class="swiper-slide">
		<div class='section3'>
				
			</div>
		</div>
		<div class="swiper-slide">
			<div class='section4'>
			
			</div>
		</div>
		<div class="swiper-slide">
			<div class='section5'>
			
			</div>
		</div>
	</div>
</div>
	

  <script>
    var swiper = new Swiper('.swiper-container', {
        paginationClickable: true,
        direction: 'vertical',
    });
	
	
   </script>
</html>
