<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=640, user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="email=no" name="format-detection"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title></title>

    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="row-search search-title">
    快速查询
</div>
<div class="row-search">
    <div class="search-box">
        <input type="text" placeholder="请输入完整手机号码" />
        <a class="search-close" href="javascript:;"><img src="images/close.png" alt=""/></a>
    </div>
    <div class="search-btn">
        <a href="javascript:;"><img src="images/search.png"></a>
    </div>
    <div class="clear"></div>
</div>
<div class="row-search search-list">
    <div class="bg"></div>
    <div class="cont">
        <div class="list-title">
            刮刮卡中奖公布
        </div>
        <hr class="row-list"/>

        <div class="list-item row-list">
            <div class="name">张小某</div>
            <div class="phone"><span>135xxxx</span>9804</div>
            <div class="gift">IWatch</div>
        </div>
        

        <hr class="row-list"/>
        <div class="list-ctrl row-list">
            <a href="javascript:;">上一页</a>
            <a href="javascript:;">下一页</a>
        </div>
    </div>
</div>
</body>
</html>