<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>未回答问题列表</title>
<link href="/fordwechat/static/css/common.css" rel="stylesheet" type="text/css" />
</head>
<body class="content">
<form autocomplete="off" action="/dkf/service/5" method="post" id="pageForm">
		<div class="outer">
			<h4>多客服图文消息添加</h4>
			<fieldset>
			<p>
			关键字:{{key_words}}
			<input type="hidden" name="key_words" id="key_words" value="{{key_words}}" />
			<input type="hidden" name="id" id="id" value="" />
			</p>
			<p>
			消息标题:<input type="text" name="news_title" id="news_title" value="" />
			</p>
			<p>
			消息简介:<input type="text" name="news_digest" id="news_digest" value="" />
			</p>
			<p>
			消息图标:<input type="text" name="news_cover" id="news_cover" value="" />
			</p>
			<p>
			消息链接:<input type="text" name="news_url" id="news_url" value="" />
			</p>
			<p>
				<input type="submit" value="添加" />
				{% if result and result['content'] %}
					<input type="button" onClick="putmsg('{{result['content']}}');" value="输出到会话窗口"/>
				{% end %}
				<input type="button" onClick="backto();" value="返回"/>
			</p>
			</fieldset>
			<div class="tb">
				<div class="table">
					<table border="1" style="border-collapse:collapse;" >
				      	<tr>
					      	<td><b>标题</b></td>
					      	<td><b>简介</b></td>
							<td><b>图片链接</b></td>
							<td><b>原文链接</b></td>
							<td><b>操作</b></td>
				      	</tr>
						{% if result and result['list'] %}
							{% for news in result['list'] %}
							<tr>
							 <td>
								{{news['news_title']}}
							 </td>
							 <td>
								{{news['news_digest']}}
							 </td>
							 <td>
								{{news['news_cover']}}
							 </td>
							 <td>
								{{news['news_url']}}
							 </td>
							 <td>
							 <a href="javascript:;" onclick="del_id('{{news['id']}}')">删除</a>
							 </td>
							</tr>
							{% end %}
						{% end %}
				    </table>
				</div>
			</div>
		</div>
</form>
<script src="/fordwechat/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://o2o.gtimg.com/module/jquery.js" ></script>
<script type="text/javascript">
function del_id(id){
	if (confirm("真的要删除吗？")){
		$("#id").val(id);
		$("#pageForm").attr("action", "/dkf/service/6");
		$("#pageForm").submit();
	}
}
function backto(){
	$("#key_words").val('');
	$("#pageForm").attr("action", "/dkf/service/1");
	$("#pageForm").submit();
}
function putmsg(cotent){
	random = Math.ceil(Math.random()*10000000)
	msg = '{"head":{"random":"'+ random +'"}, "body":[{"type":7, "content":[' + cotent + ']}]}'
	var strReturn = window.external.PutMsg('{"msg":'+msg+'}');
}

</script>
</body>
</html>
