body{margin:0;padding:0;font-size:30%;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0;padding:0;}
ul,li { list-style: none;}
table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}
.fl { float: left;}
.fr { float: right;}
.tongybtn { color: #fff; font-size: 3em; background-color: #516d7b; display: block; text-align: center; padding: 8px 0; text-decoration: none;}


.blk{display:block;margin:0 auto}
.clear{clear:both;height:0;line-height:1;overflow:hidden}
.tr1{border-bottom:1px solid #f3f3f5}
.q-tt1{width:464px;height:74px;border:1px solid #5d7784;color:#8e8f8f;background:url(../images/question-icon.png) 10px center no-repeat;padding-left:50px}
.q-ta1{width:494px;height:698px;border:1px solid #5d7784;color:#8e8f8f;padding:10px 10px}
.q-tt2{width:421px;height:77px;border:1px solid #516d7b;float:left;margin-right:12px}
.mt35{margin-top:35px}
.mtb10{margin:10px 0}
.mr15{margin-right:15px}



.wrap{width: 640px;
  margin: 0 auto;
  display: block;
  position: relative;}
.title{color:#000000;font-size:3em;padding:20px 20px 0}
.time{padding:0 20px;font-size:2em;color:#a3a2a2;margin:10px 0}
.time span{color:#667ca5;display:inline-block;padding-left:20px}
.banner{width:100%;position:relative;text-align:center}
.content{color:#939393;line-height:1.5;padding:0 20px;font-size:3em}
.content ul li{list-style-type:none;color:#707070}
h2{}
h3{color:#000000}
h4{color:#516d7b;font-size:2.5em}

/*精品附件*/
.fujian-box { width: 96%; margin: 0 auto; padding: 40px 0 0;}
.fujian-box h2 {  color: #506c7a; }
.fujian-box h2 span { background-color: #fff; font-size: 24px; padding: 0px 20px 0 10px;}
.fujDet { color: #fff; font-size: 24px; background-color: #506c7a; border: 1px solid #a2afb6;  padding: 6px 6px 6px 10px; margin-bottom: 25px;}
.fujDet h3 { color:#fff; margin-left: 20px; font-size: 24px;}
.fujDet ul{margin-bottom:20px;margin-top: 10px;}
.fujDet li { margin-left: 30px; list-style:disc;} 

/*
.fujian-box { width: 90%; margin: 0 auto; padding: 10px 0 0;}
.fujian-box h2 { border-bottom: 1px solid #9cacb2; height: 22px; color: #506c7a; margin-bottom: 35px;}
.fujian-box h2 span { background-color: #fff; font-size: 1.3em; padding: 0 27px 0 12px;}
.fujDet { color: #fff; font-size: 15px; background-color: #506c7a; border: 1px solid #a2afb6; line-height: 35px; padding: 15px; margin-bottom: 15px;}
.fujDet h3 { color:#fff; margin-left: 30px; font-size: 1.2em;}
.fujDet li { margin-left: 30px; list-style:disc;}*/

/*表头*/
.fuTitle{
    border-top: 1px solid #526e7a;
    text-align: center;
    margin-bottom: -12px;
}
.fuTitle h2{
    position: relative;
    bottom: 22px;
    text-align: left;
}

@media screen and (max-width:410px) {
.fujDet {font-size: 18px; color: #fff; background-color: #506c7a; border: 1px solid #a2afb6;  padding: 6px 6px 6px 10px; margin-bottom: 25px;}
.fuTitle h2{top:-12px;}
.fujian-box h2 span { font-size: 18px;  background-color: #fff; padding: 0px 20px 0 10px;}
.fujDet li{line-height:22px; list-style:disc;}
}