<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
	<context:component-scan base-package="io.dabing.redis" />
	<!-- 加载接口配置文件 -->
    <cache:annotation-driven/>

    <!-- 配置redis连接池信息 -->
	<bean id="poolConfig" class="io.dabing.redis.config.PoolConfig">
		<property name="maxIdle" value="${redis.maxIdle}" />
		<property name="minIdle" value="${redis.minIdle}" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="true" />
		<property name="testWhileIdle" value="true" />
	</bean>
	<!-- 配置server信息 -->
	<bean id="server1" class="io.dabing.redis.shard.NodeInfoJedis">
		<property name="ip" value="${redis.host}" />
		<property name="port" value="${redis.port}" />
		<property name="password" value="${redis.password}" />
		<property name="timeOut" value="${redis.timeout}" />
		<property name="dbIndex" value="${redis.default.db}"/>
	</bean>
 
	<!-- 配置shard信息 -->
	<bean id="shard1" class="io.dabing.redis.shard.ShardInfoJedis">
		<property name="shardName" value="shard1" />
		<property name="nodes">
			<set>
				<ref bean="server1" />
			</set>
		</property>
	</bean>
	<!-- 配置shard组合信息 -->
	<bean id="shardConfig" class="io.dabing.redis.shard.ShardConfig">
		<property name="shardConfigName" value="config1" />
		<property name="shards">
			<list>
				<ref bean="shard1" />
			</list>
		</property>
	</bean>
	<bean id="configManagerSpring" class="io.dabing.redis.config.ConfigManagerSpring">
		<property name="poolConfig" ref="poolConfig" />
		<property name="shardConfig" ref="shardConfig" />
	</bean>
	<bean id="redisClient" class="io.dabing.redis.client.impl.spring.SpringRedisClientImpl" init-method="init">
		<property name="configManagerSpring" ref="configManagerSpring" />
	</bean>
	<bean id="binaryRedisClient" class="io.dabing.redis.client.impl.spring.SpringBinaryRedisClientImpl" init-method="init">
		<property name="configManagerSpring" ref="configManagerSpring" />
	</bean>

	<!--定义spring-redis配置,便于代码里面直接用RedisTemplate-->
	<bean class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="poolConfig">
            <bean class="redis.clients.jedis.JedisPoolConfig">
                <property name="maxIdle" value="${redis.maxIdle}" />
                <property name="minIdle" value="${redis.minIdle}" />
                <property name="testOnBorrow" value="true" />
                <property name="testOnReturn" value="true" />
                <property name="testWhileIdle" value="true" />
            </bean>
        </property>
        <property name="hostName" value="${redis.host}" />
        <property name="port" value="${redis.port}" />
        <property name="password" value="${redis.password}" />
        <property name="timeout" value="${redis.timeout}" />
        <property name="database" value="${redis.default.db}"/>
	</bean>


</beans>